<a href="https://colab.research.google.com/github/Akshayshet/py/blob/master/5_Performance_metrics_Instructions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Compute performance metrics for the given Y and Y_score without sklearn

In [62]:
import numpy as np
import pandas as pd
# other than these two you should not import any other packages

<pre>
<font color='red'><b>A.</b></font> Compute performance metrics for the given data <strong>5_a.csv</strong>
   <b>Note 1:</b> in this data you can see number of positive points >> number of negatives points
   <b>Note 2:</b> use pandas or numpy to read the data from <b>5_a.csv</b>
   <b>Note 3:</b> you need to derive the class labels from given score</pre> $y^{pred}= \text{[0 if y_score < 0.5 else 1]}$

<pre>
<ol>
<li> Compute Confusion Matrix </li>
<li> Compute F1 Score </li>
<li> Compute AUC Score, you need to compute different thresholds and for each threshold compute tpr,fpr and then use               numpy.trapz(tpr_array, fpr_array) <a href='https://stackoverflow.com/q/53603376/4084039'>https://stackoverflow.com/q/53603376/4084039</a>, <a href='https://stackoverflow.com/a/39678975/4084039'>https://stackoverflow.com/a/39678975/4084039</a> Note: it should be numpy.trapz(tpr_array, fpr_array) not numpy.trapz(fpr_array, tpr_array)</li>
<li> Compute Accuracy Score </li>
</ol>
</pre>

In [63]:
# write your code here
data=pd.read_csv("5_a.csv")
data.head(10)

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199
5  1.0  0.601600
6  1.0  0.666323
7  1.0  0.567012
8  1.0  0.650230
9  1.0  0.829346

In [64]:
def computeprob(proba):
    if proba>0.5:
        return 1
    else:
        return 0
    
data['ypred']= data.apply(lambda x:computeprob(x.proba),axis=1)
data

         y     proba  ypred
0      1.0  0.637387      1
1      1.0  0.635165      1
2      1.0  0.766586      1
3      1.0  0.724564      1
4      1.0  0.889199      1
...    ...       ...    ...
10095  1.0  0.665371      1
10096  1.0  0.607961      1
10097  1.0  0.777724      1
10098  1.0  0.846036      1
10099  1.0  0.679507      1

[10100 rows x 3 columns]

### Confusion Matrix

In [65]:
TP=0
TN=0
FP=0
FN=0
for i in range(len(data.ypred)):
    if data.iloc[i][0]==0:
        if data.iloc[i][2]==0:
            TN=TN+1
        elif data.iloc[i][2]==1:
            FP+=1
    elif data.iloc[i][0]==1:
        if data.iloc[i][2]==1:
            TP+=1
        elif data.iloc[i][2]==0:
            FN+=1
print(TN,FN,TP,FP)

0 0 10000 100

### F1 Score

In [66]:
Precision=(TP/(TP+FP))
Recall=(TP/(TP+FN))
F1_Score = ((2*Precision*Recall)/(Precision+Recall))
print('Recall:',Recall)
print('Precision:',Precision)
print('F1_Score:',F1_Score)

Recall: 1.0
Precision: 0.9900990099009901
F1_Score: 0.9950248756218906

### Accuracy Score

In [67]:
accuracy_score=(TP+TN)/(TP+TN+FP+TN)
print('Accuracy:',accuracy_score)

Accuracy: 0.9900990099009901

### AUC

In [68]:
def AUC(data):
    unique_prob = list(data.proba.unique())
    unique_prob.sort(reverse=True)
    tpr=[]
    fpr=[]
    
    for i in unique_prob:
        y_new=[]
        
        for j in data['proba']:
            if (j<i):
                y_new.append(0)
            else :
                y_new.append(1)
        
        
        data['y_new_pred']=y_new 
        
        tp = (((data['y'])==1) & ((data['y_new_pred'])==1)).sum()
        fp = (((data['y'])==0) & ((data['y_new_pred'])==1)).sum()
        fn = (((data['y'])==1) & ((data['y_new_pred'])==0)).sum()
        tn = (((data['y'])==0) & ((data['y_new_pred'])==0)).sum()
        
        tpr.append(tp/(tp+fn))
        fpr.append(fp/(fp+tn))
        
        
    tpr_plot = sorted(tpr)
    fpr_plot = sorted(fpr)
    AUC = np.trapz(tpr_plot,fpr_plot)

    print('AUC Score:{}'.format(AUC))

In [69]:
data=pd.read_csv('5_a.csv')
AUC(data)

AUC Score:0.48829900000000004

<pre>
<font color='red'><b>B.</b></font> Compute performance metrics for the given data <strong>5_b.csv</strong>
   <b>Note 1:</b> in this data you can see number of positive points << number of negatives points
   <b>Note 2:</b> use pandas or numpy to read the data from <b>5_b.csv</b>
   <b>Note 3:</b> you need to derive the class labels from given score</pre> $y^{pred}= \text{[0 if y_score < 0.5 else 1]}$

<pre>
<ol>
<li> Compute Confusion Matrix </li>
<li> Compute F1 Score </li>
<li> Compute AUC Score, you need to compute different thresholds and for each threshold compute tpr,fpr and then use               numpy.trapz(tpr_array, fpr_array) <a href='https://stackoverflow.com/q/53603376/4084039'>https://stackoverflow.com/q/53603376/4084039</a>, <a href='https://stackoverflow.com/a/39678975/4084039'>https://stackoverflow.com/a/39678975/4084039</a></li>
<li> Compute Accuracy Score </li>
</ol>
</pre>

In [70]:
data=pd.read_csv("5_b.csv")
data.head(10)

     y     proba
0  0.0  0.281035
1  0.0  0.465152
2  0.0  0.352793
3  0.0  0.157818
4  0.0  0.276648
5  0.0  0.190260
6  0.0  0.320328
7  0.0  0.435013
8  0.0  0.284849
9  0.0  0.427919

In [71]:
def computeprob(proba):
    if proba>0.5:
        return 1
    else:
        return 0
    
data['ypred']= data.apply(lambda x:computeprob(x.proba),axis=1)
data

         y     proba  ypred
0      0.0  0.281035      0
1      0.0  0.465152      0
2      0.0  0.352793      0
3      0.0  0.157818      0
4      0.0  0.276648      0
...    ...       ...    ...
10095  0.0  0.474401      0
10096  0.0  0.128403      0
10097  0.0  0.499331      0
10098  0.0  0.157616      0
10099  0.0  0.296618      0

[10100 rows x 3 columns]

**Confusion Matrix**

In [72]:
TP=0
TN=0
FP=0
FN=0
for i in range(len(data.ypred)):
    if data.iloc[i][0]==0:
        if data.iloc[i][2]==0:
            TN=TN+1
        elif data.iloc[i][2]==1:
            FP+=1
    elif data.iloc[i][0]==1:
        if data.iloc[i][2]==1:
            TP+=1
        elif data.iloc[i][2]==0:
            FN+=1
print(TN,FN,TP,FP)

9761 45 55 239

**F1 Score**

In [73]:
Precision=(TP/(TP+FP))
Recall=(TP/(TP+FN))
F1_Score = ((2*Precision*Recall)/(Precision+Recall))
print('Recall:',Recall)
print('Precision:',Precision)
print('F1_Score:',F1_Score)

Recall: 0.55
Precision: 0.1870748299319728
F1_Score: 0.2791878172588833

**ACCURACY_SCORE**

In [74]:
accuracy_score=(TP+TN)/(TP+TN+FP+TN)
print('Accuracy:',accuracy_score)

Accuracy: 0.49535728704077514

**AUC**

In [75]:
def AUC(data):
    unique_prob = list(data.proba.unique())
    unique_prob.sort(reverse=True)
    tpr=[]
    fpr=[]
    
    for i in unique_prob:
        y_new=[]
        
        for j in data['proba']:
            if (j<i):
                y_new.append(0)
            else :
                y_new.append(1)
        
        
        data['y_new_pred']=y_new 
        
        tp = (((data['y'])==1) & ((data['y_new_pred'])==1)).sum()
        fp = (((data['y'])==0) & ((data['y_new_pred'])==1)).sum()
        fn = (((data['y'])==1) & ((data['y_new_pred'])==0)).sum()
        tn = (((data['y'])==0) & ((data['y_new_pred'])==0)).sum()
        
        tpr.append(tp/(tp+fn))
        fpr.append(fp/(fp+tn))
        
        
    tpr_plot = sorted(tpr)
    fpr_plot = sorted(fpr)
    AUC = np.trapz(tpr_plot,fpr_plot)

    print('AUC Score:{}'.format(AUC))

In [76]:
data=pd.read_csv('5_b.csv')
AUC(data)

AUC Score:0.9377570000000001

<font color='red'><b>C.</b></font> Compute the best threshold (similarly to ROC curve computation) of probability which gives lowest values of metric <b>A</b> for the given data <strong>5_c.csv</strong>
<br>

you will be predicting label of a data points like this: $y^{pred}= \text{[0 if y_score < threshold  else 1]}$

$ A = 500 \times \text{number of false negative} + 100 \times \text{numebr of false positive}$

<pre>
   <b>Note 1:</b> in this data you can see number of negative points > number of positive points
   <b>Note 2:</b> use pandas or numpy to read the data from <b>5_c.csv</b>
</pre>

In [77]:

data=pd.read_csv('5_c.csv')
unique_prob = list(data.prob.unique())
unique_prob.sort(reverse=True)

res=[]
for i in unique_prob: 
    y_new=[] 

    for j in data['prob']:
        if (j<=i):
            y_new.append(0)
        else :
            y_new.append(1)


    data['y_new_pred']=y_new  

    
    fp = (((data['y'])==0) & ((data['y_new_pred'])==1)).sum()
    fn = (((data['y'])==1) & ((data['y_new_pred'])==0)).sum()
    res.append((500*fn) +(100*fp)) 
    

uniq=unique_prob[res.index(min(res))]

A=min(res)
print('Threshold {}'.format(uniq))
print('Min value  {}'.format(A))

Threshold 0.22987164436159915
Min value  141000

<pre>
<font color='red'><b>D.</b></font> Compute performance metrics(for regression) for the given data <strong>5_d.csv</strong>
    <b>Note 2:</b> use pandas or numpy to read the data from <b>5_d.csv</b>
    <b>Note 1:</b> <b>5_d.csv</b> will having two columns Y and predicted_Y both are real valued features
<ol>
<li> Compute Mean Square Error </li>
<li> Compute MAPE: https://www.youtube.com/watch?v=ly6ztgIkUxk</li>
<li> Compute R^2 error: https://en.wikipedia.org/wiki/Coefficient_of_determination#Definitions </li>
</ol>
</pre>

In [78]:
data=pd.read_csv('5_d.csv')

In [79]:
data.head()

       y   pred
0  101.0  100.0
1  120.0  100.0
2  131.0  113.0
3  164.0  125.0
4  154.0  152.0

In [80]:
def MeanSquareErorr(data):
    length=len(data)
    mse=0
    for i in range(len(data)):
        val = (data['y'][i] - data['pred'][i]) ** 2
        mse = mse + val           
    mse=1/(length) * mse 
    return mse

In [81]:
MeanSquareErorr(data)

177.16569974554707

In [82]:
def mape(data):
    length=len(data)
    numerator=0
    denominator=0
    for i in range(len(data)):
        numerator+= abs(data['y'][i] - data['pred'][i]) 
        denominator+= (data['y'][i])
    mape = (numerator / denominator) * 100
    return mape

In [83]:
mape(data)

12.91202994009687

In [84]:
def rsquare(data):
    length=len(data)
    ss_res=0
    ss_total=0
    mean=0
    mean =np.mean(data['y'])
    for i in range(length):
        ss_total += (data['y'][i] - mean)**2
        ss_res += (data['y'][i] - data['pred'][i])**2
    R_square = 1 -(ss_res/ss_total)

    return R_square

In [85]:
rsquare(data)

0.9563582786990964